header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

 a {
    color: rgb(212, 182, 158);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 150;
    font-size: 20px;
    margin-right: 20px;
}

a:hover {
    content: '';
    color: #dd470b;
}

h1 {
    color: rgb(212, 182, 158);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 150;
    font-size: 50px;
    padding: 0px;
    letter-spacing: 20px;
}


section {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.aside {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background: #f0f0f0;
    width: 300px;
    float: right;
}


.h3 {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(119, 102, 82);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 150;
    font-size: 20px;
    border: 2px solid rgb(212, 182, 158);
    border-radius: 5px;

}

form {
    top: 50%;
    left: 50%;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.search {
    padding: 3%;
}

.body__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: rgb(202, 174, 150);
    margin-left: 3%;
    margin-top: -10%;
    font-family: 'Courier New', Courier, monospace;

}

.head {
    font-size: 70px;
    letter-spacing: 3px;
    margin-top: 20%;

}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.basis {
    font-size: 28px;
    letter-spacing: 1px;
}

.img {
    display: inline-flex;
    width: 90%;
    margin: 5%;
}

.image {
    width: 100%;
    height: 50%;
}


footer{
    
    width: 100%;
    padding: 20px 50px;
    background-color: rgb(236, 223, 213);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
footer p {
    color: #000000;
}

#toggler,
.navbar label {
    display: none;
}
.social,
.footer-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social li,
.footer-menu li{
    list-style: none;
}

.social li img{
    width:50px;

}
.footer-menu li a {
    font-size: 20px;
    margin: 0 15px;
    text-decoration: none;
    display: inline-flex;
}

footer p {
    color: #000000;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

@media (max-width: 1000px) {
    .body__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: rgb(202, 174, 150);
        margin-left: 3%;
        margin-top: 5%;
        font-family: 'Courier New', Courier, monospace;
    }

    .aside {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        background: #f0f0f0;
        width: 300px;
        float: right;
        margin-top: 0%;
    }
    .head{
        margin-top: 5%;
    }

    .list {
        flex-direction: column;
        align-items: center;

    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
     
    
    .navbar label {
        display: inline-flex;
        align-items: center;

    }

    #toggler:checked ~ .menu {
        max-height: 100%
    }
    .social li img{
        width:30px;
    }
    .footer-menu li a {
        font-size: 15px;
        margin: 0 15px;
        text-decoration: none;
        display: inline-flex;
    }
}